on:
  push:
    branches: [main]
  pull_request:
    paths-ignore:
      - "**.md"
      - "docs/*"
      - "screenshots/*"
      - "translators.sh"
      - ".github/ISSUE_TEMPLATE/**"

name: CI Build Flatpak
jobs:

  flatpak:
    name: "Flatpak"
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-49
      options: --privileged
    strategy:
      matrix:
        variant:
          - arch: x86_64
            runner: ubuntu-latest
          # no latest for ARM :(
          # - arch: aarch64
          #   runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.variant.runner }}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
      with:
        bundle: Bazaar.flatpak
        manifest-path: build-aux/flatpak/io.github.kolunmi.Bazaar.json
        cache-key: flatpak-builder-${{ github.sha }}
        arch: ${{ matrix.variant.arch }}
        verbose: true
